*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.inicio{
    display: flex;

}

.ul1{
    display: flex;
    flex-direction: column;
    list-style-type: none;
   }

.ul1 li{
    display: flex;
    margin: 0;
    justify-content: stretch;

}
.ul2{
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;

}
